<?xml version='1.0' encoding='utf-8'?>
<widget id="com.banggo.mosquito" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mosquito Invasion</name>
    <description>AR Arcade Shooter Game</description>
    <author email="dev@example.com" href="http://example.com">Sayangku</author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="Orientation" value="portrait" />
    <preference name="Fullscreen" value="true" />
    
    <config-file target="AndroidManifest.xml" parent="/*">
        <uses-permission android:name="android.permission.CAMERA" />
        <uses-feature android:name="android.hardware.camera" android:required="true" />
        <uses-feature android:name="android.hardware.sensor.gyroscope" android:required="true" />
    </config-file>
</widget>
